/* INÃCIO NOVO LAYOUT */

header {
	background-color: #002d72;
}

.navbar-custom {
	margin: 0 auto;
	max-width: 1260px;
	background-color: #002d72;
}

.color-white {
	color: #FFF;
}

.carousel-main {
	margin: 0 auto;
	max-width: 1260px;
}

.d-flex {
	display: flex;
}

.bg-color-white {
	background-color: #fff !important;
}


.carousel .item {
	height: 300px;
}

.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}


@media (max-width: 700px) {
	.d-flex-direction {
		flex-direction: column;
	}
}

@media (min-width: 700px) {
	.d-flex-direction {
		flex-direction: row;
	}
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-space-around {
	align-items: center;
	justify-content: space-around;
}

.logo {
	width: 100%;
	height: auto;
	cursor: pointer;
}

.box {
	transition-duration: 0.2s;
}

@media (max-width: 768px) {
	.box {
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 768px) {
	.box:nth-child(2n + 1) {
		padding-left: 0;
	}

	.box:nth-child(2n) {
		display: flex;
		justify-content: flex-end;
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	.box {
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 992px) {
	.box:nth-child(2n + 1) {
		padding-left: 15px;
	}

	.box:nth-child(3n + 1) {
		padding-left: 0px;
	}

	.box:nth-child(2n) {
		display: flex;
		justify-content: center;
		padding-right: 15px;
	}

	.box:nth-child(3n) {
		display: flex;
		justify-content: flex-end;
		padding-right: 0px;
	}
}

@media (min-width: 1200px) {
	.box:nth-child(4) {
		display: flex;
		justify-content: flex-start;
	}
}

@media (max-width: 768px) {
	.navbar .navbar-custom,
	.row > div:last-child{
		padding-top: 16px;
	}
}

.box:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.card {
	height: 320px;
	max-width: 350px;
}

@media (max-width: 700px) {
	footer {
		background-color: #002d72;
		color: #FFF;
		padding: 20px;
		margin-top: 10px;
	}

	footer address:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: 700px) {
	footer {
		background-color: #002d72;
		color: #FFF;
		padding: 20px;
		margin-top: 10px;
	}

	footer>div {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1140px;
	}

	footer address:last-child {
		margin-bottom: 0;
	}
}

.h-100 {
	width: 100%;
}

.p-8 {
	padding: 8px !important;
}

.p-16 {
	padding: 16px !important;
}

.pt-8 {
	padding-top: 8px;
}

.pt-16 {
	padding-top: 16px !important;
}

.pt-32 {
	padding-top: 32px !important;
}

.mb-8{
	margin-bottom: 8px;
}

.mb-16{
	margin-bottom: 16px;
}

.m-auto {
	margin: 0 auto;
}

@media (max-width: 700px) {
	.display {
		display: none !important;
	}
}

@media (min-width: 700px) {
	.display {
		display: block;
	}
}


#myBtn {
	display: none;
	position: fixed;
	bottom: 45px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #477D94;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#myBtn:hover {
	background-color: #555;
}


.table-title{
	background-color: #002d72;
}

div.dataTables_wrapper {
	width: 800px;
	margin: 0 auto;
}
/* FIM NOVO LAYOUT */


#paineis-sobre {
	margin-top: 20px;
}

html,
body {
	height: 100%;
	background-color: #ECECEC;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.topCasaFina-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 80%;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.titulo-depoimentos {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.contato-select,
.grupo-radio {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.grupo-radio .radio:first-child {
	margin-top: 0;
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;
	}
}

@media(min-width: 992px) {
	.topCasaFina-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.topCasaFina-bannerWrapper {
		position: relative;
		height: 100%;
	}
}